* {
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
    outline: none;
}
body{
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    width: 1000px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(45, 42, 42);
    opacity: 0.6;
}
.container form{
    width: 100%;
    text-align:center ;
    padding: 25px 20px;
}
form h1{
    padding: 10px 0;
}
form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    top: 20px;
    right: 20px;
}
form input{
    width: 100%;
    height: 50px;
    margin: 6px 0;
    border: 2px solid #6b6767;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 0 12px;
    font-size: 18px;
    padding-right: 45px;
}
form textarea{
    padding: 5px 15px;
    border: 2px solid #636060;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    max-width: 100%;
    margin-top: 5px;
    width: 100%;
    min-width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}
form button{
    margin-top: 5px;
    border: none;
    background: #bdc3c3;
    color: #222;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(100, 94, 94);
}